ion-card {
    --background: #00000018;
    --color: #ffffff;
    margin-top: 2%;
    border-radius: 10px;

  }
  
  ion-card-title {
    --color: #ffffff;
  }
  
  ion-card-subtitle {
    --color: #ffffff;
  }